@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}